.bgImage1 {
    background-image:url('/static/assets/images/slider/hm8-bg-1.jpg');
    background-repeat: no-repeat;
}

.bgImage2 {
    background-image:url('/static/assets/images/slider/hm8-bg-2.jpg');
    background-repeat: no-repeat;
}

.bgImage3 {
    background-image:url('/static/assets/images/slider/hm8-bg-1.jpg');
    background-repeat: no-repeat;
}